@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

nextjs-portal {
  display: none;
}

.like-to-stay::placeholder {
  background: url("../assets/Icons/search.svg") no-repeat left center;
  padding-left: 20px; /* Adjust based on icon size */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
